@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
}

::-webkit-scrollbar-thumb {
  background-color: #a5b4fc;
  border-radius: 5px;
}

/* For Firefox */
::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
}

::-moz-scrollbar-thumb {
  background-color: #a5b4fc;
  border-radius: 5px;
}

/* For Microsoft Edge */
::-ms-scrollbar {
  width: 10px;
}

::-ms-scrollbar-track {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
}

::-ms-scrollbar-thumb {
  background-color: #a5b4fc;
  border-radius: 5px;
}
